<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <!-- User -->
    <div class="user-box">
      <div class="user-img">
        <%= image_tag "users/employee.png", :alt => "user-img", :title => "Mat Helme", :class => "img-circle img-thumbnail img-responsive" %>
            <div class="user-status offline"><i class="fa fa-check-circle-o"></i></div>
      </div>
      <h5><a href="#"><%= current_user.fullname %></a> </h5>
      <ul class="list-inline">
        <li>
          <a href="#" >
            <i class="fa fa-cogs"></i>
          </a>
        </li>

        <li>
          <%= link_to "<i class='fa  fa-power-off'></i>" .html_safe, destroy_user_session_path, method: :delete, :class=>"text-custom" %>
        </li>
      </ul>
    </div>
    <!-- End User -->

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Navigation</li>

        <li>
          <%= link_to "<span><i class='fa fa fa-tv'></i></span> Dashboard".html_safe, admin_jobs_path,  class:'waves-effect' %>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-cubes"></i> <span>Job</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Job", new_admin_job_path %></li>
            <li><%= link_to "View Job", admin_jobs_path%></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-black-tie"></i> <span> Job Family </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Job Family", new_admin_job_family_path %></li>
            <li><%= link_to "View Job Family", admin_job_families_path %></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-address-book"></i> <span> Primary Cluster</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Primary Cluster", new_admin_primary_cluster_path %></li>
            <li><%= link_to "View Primary Clusters", admin_primary_clusters_path %></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-address-book-o"></i> <span> Secondary Cluster</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Secondary Cluster", new_admin_secondary_cluster_path %></li>
            <li><%= link_to "View Secondary Clusters", admin_secondary_clusters_path %></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-user-circle-o"></i> <span> Job Division </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Division", new_admin_division_path %></li>
            <li><%= link_to "View Divisions", admin_divisions_path %></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-area-chart"></i> <span> Business Unit </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Business Unit", new_admin_business_unit_path %></li>
            <li><%= link_to "View Business Units", admin_business_units_path %></li>
          </ul>
        </li>


        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-briefcase"></i> <span> Organizational Unit </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Organizational Unit", new_admin_organizational_unit_path %></li>
            <li><%= link_to "View Organizational Units", admin_organizational_units_path %></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0); class="waves-effect"><i class="fa fa-briefcase"></i> <span> Work Level </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Work Level", new_admin_work_level_path  %></li>
            <li><%= link_to "View Work Levels", admin_work_levels_path %></li>
          </ul>
        </li>


      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

  </div>

</div>
<!-- Left Sidebar End -->