<div class="left side-menu">
  <div class="sidebar-inner slimscrollleft">

    <!-- User -->
    <div class="user-box">
      <div class="user-img">
        <%= image_tag "users/employee.png", :alt => "user-img", :title => "Mat Helme", :class => "img-circle img-thumbnail img-responsive" %>
            <div class="user-status offline"><i class="fa fa-check-circle-o"></i></div>
      </div>
      <h5><a href="#"><%= current_user.fullname %></a> </h5>
      <ul class="list-inline">
        <li>
          <a href="#" >
            <i class="fa fa-cogs"></i>
          </a>
        </li>

        <li>
          <%= link_to "<i class='fa  fa-power-off'></i>" .html_safe, destroy_user_session_path, method: :delete, :class=>"text-custom" %>
        </li>
      </ul>
    </div>
    <!-- End User -->

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <ul>
        <li class="text-muted menu-title">Navigation</li>

        <li>
          <%= link_to "<span><i class='fa fa fa-tv'></i></span> Dashboard".html_safe, admin_jobs_path,  class:'waves-effect' %>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0)"; class="waves-effect"><i class="fa fa-cubes"></i> <span>Job</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Job", new_admin_job_path %></li>
            <li><%= link_to "View Jobs", admin_jobs_path%></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0)"; class="waves-effect"><i class="fa fa-black-tie"></i> <span>Department </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Department", new_admin_department_path %></li>
            <li><%= link_to "View Departments", admin_departments_path %></li>
          </ul>
        </li>


        <li class="has_sub">
          <a href="javascript:void(0)"; class="waves-effect"><i class="fa fa-black-tie"></i> <span>Project Category </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Project Category", new_admin_category_path %></li>
            <li><%= link_to "View Categories", admin_categories_path %></li>
          </ul>
        </li>

        <li class="has_sub">
          <a href="javascript:void(0)"; class="waves-effect"><i class="fa fa-black-tie"></i> <span>Vendors</span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li><%= link_to "Create Vendor", new_admin_vendor_path %></li>
            <li><%= link_to "View Vendors", admin_vendors_path %></li>
          </ul>
        </li>

      </ul>
      <div class="clearfix"></div>
    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

  </div>

</div>
<!-- Left Sidebar End -->
